/* font-family: 'Source Serif Pro', serif;
font-family: 'Cutive Mono', monospace;
font-family: 'Livvic', sans-serif; for buttons*/

* {
  box-sizing: border-box;
}

.container {
  width: 80%;
  border-radius: 10px;
  font-family: "Source Serif Pro", serif;
  display: block;
  margin: 0 auto;
  padding: 5%;
  line-height: 30px;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

h3,
h4,
p {
  font-family: "Source Serif Pro", serif;
}

h3 {
  font-size: 2em;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: black;
}

button {
  text-align: center;
  border-radius: 20px;
  font-size: 1em;
  background-color: white;
  color: black;
  padding: 15px 25px;
  font-family: "Livvic", sans-serif;
  margin-top: 20px;
}

.text-highlight {
  font-style: normal;
  border-radius: 1em 0 1em 0;
  text-shadow: 1px 1px 1px #fff;
  background-image: linear-gradient(
    -100deg,
    rgba(255, 250, 150, 0.15),
    rgba(255, 250, 150, 0.8) 100%,
    rgba(255, 250, 150, 0.25)
  );
}

.active {
  text-decoration: underline;
}

/************ HEADER *******************/

.header {
  background-image: url("../img/header-bg.png");
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: "Cultive Mono", monospace;
  height: 400px;
  margin: 0;
}

.header h1 {
  margin-left: 10%;
  padding-top: 8%;
  padding-bottom: 2%;
  font-size: 5em;
}

.typewriter {
  display: block;
}

.typewriter h2 {
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  padding-left: 10%;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

/************** NAV BAR ****************/

.nav-bar {
  background: black;
  font-family: "Cultive Mono", monospace;
  width: 100%;
  text-align: center;
  vertical-align: middlegit;
  height: 45px;
  padding: 10px 0;
  margin: 0;
}

.nav-bar ul {
  list-style-type: none;
}

.nav-bar ul li {
  display: inline;
  vertical-align: middle;
}

.nav-bar ul li a {
  text-decoration: none;
  color: white;
  padding: 25px 20px 25px 20px;
  vertical-align: middle;
}

.nav-bar ul li a:hover {
  color: lightblue;
}

/*********** JUMBOTRON & INDEX INFO ****************/

.jumbotron {
  background-image: url("../img/begin.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 20px;
  text-align: center;
  color: black;
  font-size: 1.5em;
}

.jumbotron p {
  background-color: white;
}

.info {
  font-size: 1.3em;
}

.info ul {
  list-style-image: url("../img/checked.png");
  margin-left: 30px;
}

.info h3 {
  text-align: center;
}

.calculate {
  background-image: url("../img/calcul.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.calculate h3 {
  text-align: center;
  color: lightblue;
  background-color: black;
  width: 50%;
  display: block;
  margin: 10px auto;
  padding: 10px;
}

.calculate p {
  background-color: white;
  width: 50%;
  display: block;
  margin: 0 auto;
}
.res-icon {
  width: 50px;
  vertical-align: middle;
}

/************ ICON SECTION INDEX *****/

.icons {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 1.2em;
}
.icons img {
  width: 150px;
}

.col {
  width: 20%;
  display: inline-block;
  vertical-align: top;
}

/********** FOOTER ****************/

footer {
  background-color: #324a5e;
  color: white;
}

footer a {
  color: #54c0eb;
}

/*********** PORTFOLIO ************/

.portfolio-container {
  display: grid;
  grid-template-columns: 4;
  grid-template-rows: 4;
}
