/* font-family: 'Source Serif Pro', serif;
font-family: 'Cutive Mono', monospace;
font-family: 'Livvic', sans-serif; for buttons*/

* {
  box-sizing: border-box;
}

.container {
  width: 900px;
  border-radius: 10px;
  font-family: "Source Serif Pro", serif;
  display: block;
  margin: 0 auto;
  padding: 3%;
  line-height: 20px;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

h3,
h4,
p {
  font-family: "Source Serif Pro", serif;
}

h3 {
  font-size: 2em;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: black;
}

button {
  text-align: center;
  border-radius: 20px;
  font-size: 1em;
  background-color: white;
  color: black;
  padding: 15px 25px;
  font-family: "Livvic", sans-serif;
  margin-top: 20px;
}

.text-highlight {
  font-style: normal;
  border-radius: 1em 0 1em 0;
  text-shadow: 1px 1px 1px #fff;
  background-image: linear-gradient(
    -100deg,
    rgba(255, 250, 150, 0.15),
    rgba(255, 250, 150, 0.8) 100%,
    rgba(255, 250, 150, 0.25)
  );
}

/************ HEADER *******************/

.header {
  background-image: url("../img/header-bg.png");
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: "Cultive Mono", monospace;
  height: 400px;
  margin: 0;
}

.header h1 {
  margin-left: 10%;
  padding-top: 8%;
  padding-bottom: 2%;
  font-size: 5em;
}

.typewriter {
  display: block;
}

.typewriter h2 {
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  margin-left: 10%;
  letter-spacing: 0.15em;
  font-size: 2em;
  animation: typing 4.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

/************** NAV BAR ****************/

.nav-bar {
  background: black;
  font-family: "Cultive Mono", monospace;
  width: 100%;
  text-align: center;
  vertical-align: middlegit;
  height: 45px;
  padding: 10px 0;
  margin: 0;
}

.nav-bar ul {
  list-style-type: none;
}

.nav-bar ul li {
  display: inline;
  vertical-align: middle;
}

.nav-bar ul li a {
  text-decoration: none;
  color: white;
  padding: 25px 20px 25px 20px;
  vertical-align: middle;
}

/*********** JUMBOTRON & INDEX INFO ****************/

.jumbotron {
  background-color: #e6f7ff;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}

.info ul {
  list-style-image: url("../img/checked.png");
  margin-left: 30px;
}

.info h3 {
  text-align: center;
}

.calculate {
  background-image: url("../img/calcul.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  opacity: 0.5;
}

.calculate h3 {
  text-align: center;
}

.calculate p {
  color: white;
}
.res-icon {
  width: 50px;
  vertical-align: middle;
}

/********** ARTICLES ****************/

.responsive-img {
  width: 200px;
}

.news-block {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.news-block h3 {
  text-align: right;
}

.news-block h4 {
  font-size: 1.5em;
  margin-top: 15px;
}

.news {
  display: flex;
  justify-content: space-around;
  background-color: lightgray;
  padding: 10px;
  margin: 15px 0;
}

.news p {
  padding: 10px;
  line-height: 19px;
}

/*********** PORTFOLIO ************/

.portfolio-container {
  display: grid;
  grid-template-columns: 4;
  grid-template-rows: 4;
}
